/*CSS选择器：
1.ID选择器
2.class选择器
*/
body{ 
  background-image: url(./images/BG.jpg);
  background-repeat:no-repeat;width:100%;
  background-size:cover
 }
h1{
	color:blue;
}
/*<element id="para1">*/
#para1
{
    text-align:center;
    color:red;
}
/*<element class="personal">*/
.personal{
	text-align: center;
	position:absolute;
	left:100px;
	top:150px
}
/*<p class="c1">*/
p.c1{
	text-align:center;
}

